@import "normalize.css";
@import "bootstrap.min.css";
@import "jquery.fancybox.min.css";
@import "all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #fff;
}
img{
  max-width: 100%;
}
input,
button,
button:focus{
  outline: none;
  box-shadow: none !important;
}
section{
  padding: 60px 0;
}
a:hover{
  text-decoration: none;
}
.header{
  background-color: #000;
  padding: 5px 0;
}
.main-nav{
  text-align: right;
}
.main-nav a{
  font-size: 16px;
  color: #fff;
  margin-left: 77px;
  position: relative;
  padding-bottom: 2px;
  display: inline-block;
}
.main-nav a:before{
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transition: all .5s ease;
}
.main-nav a:hover:before{
  width: 100%;
}
.banner{
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 96px;
  height: calc(100vh - 85px);
  overflow: hidden;
}
.banner-box{
  position: relative;
}
.fullscreen-video-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    outline: none;
}
.banner-title{
  font-weight: 500;
  font-size: 72px;
  margin-bottom: 70px;
}
.btn-regular{
  font-weight: 500;
  font-size: 16px;
  background: #000;
  border-radius: 2px;
  padding: 16px 38px;
  color: #fff;
  border: 2px solid #000;
  transition: all .5s ease;
}
.btn-regular:hover{
  border: 2px solid #fff;
  color: #fff;
}
.section-title{
  font-weight: 500;
  font-size: 62px;
  color: #000;
  text-align: center;
  margin-bottom: 65px;
}
.section-title p{
  font-size: 36px;
  margin-bottom: 0;
}
.bg-black{
  background-color: #000;
}
.advantages-box{
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
.advantages-box img{
  max-width: 70px;
}
.partners-box{
  width: 25%;
  text-align: center;
  padding: 50px 0;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.partners-box:nth-child(4n+0) {
  border-right: none;
}
.partners-box:nth-child(1n+5) {
  border-bottom: none;
}
.text-black{
  color: #000;
}
figcaption {
  display: none;
}
.section-form{
  padding: 25px 0 40px 0;
  position: relative;
}
.section-form .section-form__bg{
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.section-form input{
  background: #FFFFFF;
  opacity: 0.9;
  border-radius: 2px;
  width: 100%;
  border: none;
  padding: 12px;
  margin-bottom: 20px;
  margin-top: 8px;
}
.footer a{
  color: #fff;
  text-decoration: none;
  transition: all .5s ease;
  font-size: 16px;
}
.footer a:hover{
  color: #ccc;
}
.soc-links a {
  color: #fff;
  margin-left: 28px;
  transition: all .5s ease;
}
.soc-links a i{
  font-size: 36px;
}
.soc-links a:hover{
  color: #ccc;
}
.footer{
  background-color: #000;
  padding: 50px 0;
}
.footer img{
  min-width: 36px;
}
.footer hr{
  border-top: 1px solid rgb(255 255 255 / 40%);
}
label.uploadbutton input {
    display: none;
}
.section-form .btn-regular{
  width: 170px;
  padding: 16px 0;
  text-align: center;
}
.politic-chechbox input{
  width: 20px;
  height: 20px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}
.category-box{
  position: relative;
  height: 450px;
  transition: all .5s ease;
}
.category-box:hover{
  transform: scale(1.05);
}
.category-box-outer{
  overflow: hidden;
}
.category-box-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
  transition: all .5s ease;
}
.category-box:hover .category-box-bg{
  opacity: .4;
}
.category-box__title{
  font-weight: 500;
  font-size: 42px;
  position: relative;
  color: #fff;
}
.category-box__name{
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  position: relative;
}
.category-box__name p{
  text-transform: uppercase;
}
.category-box a{
  position: relative;
}
.btn-regular2{
  font-weight: 500;
  font-size: 16px;
  background: #000;
  border-radius: 2px;
  padding: 16px 12px;
  color: #fff;
  border: 2px solid #fff;
  transition: all .5s ease;
  background: none;
  width: 170px;
}
.btn-regular2:hover {
    border: 2px solid #fff;
    color: #000;
    background: #fff;
}
.contacts-outer{
  position: relative;
}
.contacts-box{
  position: absolute;
  top: 90px;
  left: 0;
  padding: 35px 65px 70px 35px;
  background: #fff;
  min-width: 570px;
}
.contacts-box a,
.contacts-box p{
  color: #000;
  font-size: 18px;
  display: block;
}
.contacts-box a span{
  color: #40A0EB;
  font-weight: bold;
  font-size: 22px;
}
.p-relative{
  position: relative;
}
.contatcs-title{
  font-weight: bold;
  font-size: 28px;
  color: #000;
}
#menuToggle {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menuToggle input {
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

#menuToggle span{
  width: 28px;
  height: 3px;
  margin-bottom: 6px;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: all .3s cubic-bezier(.08,.81,.87,.71);
  -moz-transition: all .3s cubic-bezier(.08,.81,.87,.71);
  -ms-transition: all .3s cubic-bezier(.08,.81,.87,.71);
  -o-transition: all .3s cubic-bezier(.08,.81,.87,.71);
  transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
#menuToggle span:last-of-type{
  margin-bottom: 0;
}
#span1 {
  transform-origin: 4px 0px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: #fff;
  transform: rotate(45deg) translate(5px);
}
#menuToggle input:checked ~ #span2 {
  background-color: #fff;
  transform: rotate(495deg) translate(2px);
}
#menuToggle input:checked ~ #span3 {
  background-color: #fff;
  transform: rotate(45deg);
  opacity: 0;
}
.top-0{
  top: 0;
}
.mw-100{
  min-width: 100%;
}
.partners-box img{
  max-width: 160px;
  transition: all .5s ease;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.command-photo img{
  transition: all .5s ease;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  max-height: 150px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.command-photo img:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.partners-box:hover img{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
@media (max-width: 767px){
  .main-nav{
    display: none;
    position: absolute;
    top: 83px;
    background: #000;
    left: 0;
    z-index: 10;
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
  }
  .main-nav a{
    display: block;
    margin: 10px 15px;;
  }
  .banner-title {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .banner {
    min-height: 550px;
    background-position: center !important;
    padding-top: 170px;
  }
  .category-box{
    margin-bottom: 20px;
  }
  .advantages-box{
    font-weight: 400;
  }
  .partners-box {
    width: 50%;
    padding: 30px 0;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  .partners-box:nth-child(2n+0) {
    border-right: none;
  }
  a + .text-black{
    display: none;
  }
  .footer {
    padding: 20px 0;
    font-size: 20px;
  }
  .footer .logo{
    margin-bottom: 30px;
  }
  .soc-links{
      margin-bottom: 40px;
    }
  .soc-links a {
    margin-left: 0;
    margin-right: 25px;
  }
  .footer .logo img{
    max-width: 100px;
  }
  .contacts-box{
    min-width: 100%;
    position: static;
  }
  .map iframe{
    max-height: 340px;
  }
  .category-box{
    max-height: 176px;
    background-size: cover;
    background-position: center;
    max-height: 134px;
  }
  .item-box .category-box{
    max-height: 100%;
  }
  .catefory-box-link a{
    min-height: 500px;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10px;
  }
  .command-photo [class*="col-"]{
    padding: 2.5px;
  }
  .partners-box img {
    max-width: 100%;
    padding: 0 15px;
  }
  .header {
    padding: 2px 0;
  }
  .banner {
    height: calc(100vh - 85px);
    padding-top: 145px;
  }
  .category-box__title {
    font-size: 28px;
  }
  .catefory-box-link .category-box__title {
    font-size: 42px;
  }
  .partners-box:nth-child(0n+5) {
    border-bottom: 1px solid #000;
  }
  .partners-box:nth-child(0n+6) {
    border-bottom: 1px solid #000;
  }
  .footer a{
    font-size: 24px;
  }
}
@media (max-width: 490px){
  .section-title{
    font-size: 36px;
  }
}